.card {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 7px rgba(#000, .1);
    overflow: hidden;
    display: grid;

    .image {
        height: 150px;
        display: grid;

        place-items: center;

        img {
            position: relative;
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .content {
        padding: 16px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: .5em 0;
        }

        .title {
            font-size: 1.2em;
        }

        .btn {
            width: 100%;
        }
    }
}