@import './Components/scss/Toast';

.container {
    width: 1100px;
    max-width: 90%;
    margin: auto;
}

.overlay {
    &:not(.active) {
        display: none;
    }

    &.active {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(#000, .2);
        backdrop-filter: blur(2px);
        z-index: 9;
    }
}